<!-- reservation form modal -->
<div class="modal fade" id="reservationModal" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <form id="reserveForm" class="form-horizontal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Reservation</h4>
      </div>
      <div class="modal-body">
        <% if current_user.try(:admin) %>
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <div id="name">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Phone</label>
            <div class="col-sm-9">
              <div id="phone">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <label for="start" class="col-sm-3 control-label">Start</label>
          <div class="col-sm-9">
            <div class="input-group date datetimepicker" id="start">
              <input type="text" class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="duration" class="col-sm-3 control-label">Duration</label>
          <div class="col-sm-9">
            <div class="input-group">
              <select class="selectpicker" id="duration">
                <option value=15>15 min</option>
                <option value=30>30 min</option>
                <option value=46>45 min</option>
                <option value=60>60 min</option>
                <option value=75>75 min</option>
                <option value=90>90 min</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="court" class="col-sm-3 control-label">Court</label>
          <div class="col-sm-9">
            <div class="input-group">
              <select class="selectpicker" id="court">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="guest1" class="col-sm-3 control-label">Guest 1</label>
          <div class="col-sm-9">
            <div id="guest1">
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="guest2" class="col-sm-3 control-label">Guest 2</label>
          <div class="col-sm-9">
            <div id="guest2">
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="guest3" class="col-sm-3 control-label">Guest 3</label>
          <div class="col-sm-9">
            <div id="guest3">
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="reserveButton" type="button" class="btn btn-primary">Reserve</button>
      </div>
    </form>
  </div>
</div>
</div>