<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRC Reservations</a>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.try(:name)%> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete%>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%= link_to 'New Reservation', new_reservation_path, :class => "btn btn-primary btn-lg" %>

<% @reservations.each do |reservation| %>
    <h1> <%=reservation.court%> </h1>
<% end %>

<!-- reservation form modal -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <form id="reserveForm" class="form-horizontal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Reservation</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="datetime" class="col-sm-3 control-label">Date and time</label>
          <div class="col-sm-9">
            <div class="input-group date" id="datetime">
              <input type="text" class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="court" class="col-sm-3 control-label">Court</label>
          <div class="col-sm-9">
            <div class="input-group">
              <select class="selectpicker" id="court">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="balls" class="col-sm-3 control-label">Guests</label>
          <div class="col-sm-9">
            <div class="input-group">
              <select class="selectpicker" id="balls">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="raquets" class="col-sm-3 control-label">Raquets</label>
          <div class="col-sm-9">
            <div class="input-group">
              <select class="selectpicker" id="raquets">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="balls" class="col-sm-3 control-label">Balls</label>
          <div class="col-sm-9">
            <div class="input-group">
              <select class="selectpicker" id="balls">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="reserveButton" type="button" class="btn btn-primary">Reserve</button>
      </div>
    </form>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="calendar" id="today"></div>
    </div>
    <div class="col-md-4">
      <div class="calendar" id="tomorrow"></div>
    </div>
    <div class="col-md-4">
      <div class="calendar" id="dayafter"></div>
    </div>
  </div>
</div>