<h1>All Reservations</h1>
<p>Find me in app/views/reservations/index.html.erb</p>
<p> We can use get all the articles a variable array.
<p> For example, there are <%= @reservations.count %> reservations in the database!
<p> This is erb, which is interplated ruby. However, views in Ruby can be made with javascript, coffeescript, and lots of other cool stuff. Just pick your desired extension
<p> This page is the same as localhost:3000/reservations, since I set up the root of the web app in config/routes.rb 
<p>
<p>

<%= link_to 'Create New Res', new_reservation_path %>
