<div align="center" style="background-color:#ffd700;border:2px solid;width:30%;margin:0 auto">
<h1>New Reservation</h1>
</div>
<div align = "center" style="background-color:#f5f5dc;color:#000000;border:2px solid;width:30%;margin:0 auto">
<br>
<br>
<%= render 'form' %>
<br>
<br>
 
<%= link_to 'Back', reservations_path %>

</div>
<br>
<br>